// white color
$white: hsla(0, 0%, 100%, 1);
// black color
$black: hsla(0, 0%, 0%, 1);

$dark-blue: hsla(212, 86%, 28%, 1);
$dark-red: hsla(360, 100%, 23%, 1);
$orange: hsla(29, 100%, 63%, 1);

$background: hsla(208, 100%, 97%, 1);
$text: hsla(0, 0%, 18%, 1);

:root {
	--background: hsla(208, 100%, 97%, 1);
	--text: hsla(0, 0%, 18%, 1);
}